[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/better-indent-support-for-php-with-html"]
	path = bundle/better-indent-support-for-php-with-html
	url = https://github.com/captbaritone/better-indent-support-for-php-with-html.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/bundler"]
	path = bundle/bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
